<!DOCTYPE html>
<html lang="{{ lang | default(value="en-US") }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{%- block title %}{{ config.title }}{%- endblock %}</title>
  <link rel="stylesheet" href="{{ get_url(path="style.css") }}"/>
  <link rel="icon" href="{{ get_url(path="logo.svg") }}"/>
</head>

<body>
  <header class="pos-absolute">
    {% include "nav.html" -%}
  </header>
  {% block content %} {% endblock %}
  <hr/>
  <footer>
    Powered by 🌱 made with 💚 for 🌍
    <text>0 scripts, 0 tracking, 0 cruelty</text>
    <a href="https://codeberg.org/s0s/website/">View source or suggest edits</a>
  </footer>
</body>

</html>
