{% extends "base.html" %}

{% block title %}
{{ section.title }} • {{ config.title }}
{% endblock title %}

{% block content %}
<main>
  <h1>{{ section.title }}</h1>
  {% for page in section.pages %}
  <div>
    <a href="{{ page.permalink | safe }}"><h3>{{ page.title }}</h3></a>
    {% if page.extra.intro is defined %}
      {{ page.extra.intro | safe }} 
      <a href="{{ page.permalink | safe }}">{{ trans(key="more", lang=lang) }}...</a>
      <br/><br/>
    {% endif %}
    ✍️ {{ page.authors[0] }}<br/>
    📅 {{ page.date | date(format="%Y %B %e", locale=trans(key="locale", lang=lang))}}
  </div>
  <br/>
  {% endfor %}
</main>
{% endblock content %}
