{% extends "base.html" %}

{% block title %}
{{ page.title }} • {{ config.title }}
{% endblock title %}

{% block content %}
<main>
  <a href="..">{{ trans(key="back", lang=lang)}}</a>
  <h1>{{ page.title }}</h1>
  📅 {{ page.date | date(format="%Y %b %e, %a", locale=trans(key="locale", lang=lang))}}
  {{ page.extra.start }}{% if page.extra.end is defined %}-{{ page.extra.end }}{% endif %}<br/>
  🗺️
  {% if page.extra.coords is defined %}
    <a href="https://www.openstreetmap.org/directions?from=&to={{page.extra.coords}}">{{page.extra.location}}</a>
  {% else %}
    {{ page.extra.location }}
  {% endif %}
  {{ page.content | safe }}
  {% if page.extra.photos is defined %}
  <h2>{{ trans(key="photos") }}</h2>
  {% for photo in page.extra.photos %}
  <img src="{{ get_url(path=photo) }}"/>
  {% endfor %}
  {% endif %}
</main>
{% endblock content %}
