{% extends "base.html" %}

{% block content %}
<div class="hero">
  <section class="text-center">
    <h1>{{config.description}}</h1>
    <h2>{{ section.extra.call }}</h2>
    <a href="{{ config.extra.join_url }}"><button class="grow">{{ section.extra.join }}</button></a>
  <section>
  <a href="#more" id="more" class="explore-more text-center">
    <img src="{{ get_url(path="down.svg") }}" class="grow"/>
  </a>
</div>
<main class="home">
  {{ section.content | safe }}
  <h2>Latest articles</h2>
  {%- set sec = "blog/" %}
  {%- if lang == config.default_language %}
  {%- set section_item = get_section(path=sec ~ "_index.md") %}
  {%- else %}
  {%- set section_item = get_section(path=sec ~ "_index." ~ lang ~ ".md") %}
  {%- endif %}

  {%- set recent_items=config.extra.recent_items | default(value=9) -%}
  {%- for page in section_item.pages | slice(end=recent_items) %}

    <a href="{{ page.permalink | safe }}"><h3>{{ page.title }}</h3></a>
    {% if page.extra.intro is defined %}
      {{ page.extra.intro | safe }} 
      <a href="{{ page.permalink | safe }}">{{ trans(key="more", lang=lang) }}...</a>
      <br/><br/>
    {% endif %}
    ✍️ {{ page.authors[0] }}<br/>
    📅 {{ page.date | date(format="%Y %B %e", locale=trans(key="locale", lang=lang))}}

  {%- endfor %}

</main>
{% endblock content %}
